$primary-color: #004643;
$secondary-color: #f9bc60;
$tertiary-color: #e16162;
$background-color: #fef6ed;
$white: #ffffff;
$black: #000000;

.title-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1024px;
  height: 100vh;
  background-color: $background-color;
}

span {
  margin-bottom: 8px;
  margin-top: 8px;
}
.radio-btn-section {
  display: flex;
  align-items: center;
}

.radio-btn-text {
  margin-right: 30px;
}

.radio-btn-layout {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 360px;
}

.radio-btn {
  font-size: 1rem;
  margin-right: 7%;
}

.layout {
  width: 90%;
  margin: auto;
}

.input-section {
  width: 50%;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.input-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-field {
  max-width: 528px;
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  background: $background-color;
  background-color: $background-color;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.form-field-arrow {
  background: url(https://img.icons8.com/android/24/null/sort-down.png)
    no-repeat scroll 97% 4px;
}

.form-field-euro {
  background: url(https://img.icons8.com/metro/26/null/euro-pound-exchange.png)
    no-repeat scroll 97% 4px;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  background: $background-color;
  background-color: $background-color;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.image-section {
  width: 50%;
}

.image-box {
  max-width: 528px;
  margin-top: 38px;
  width: 100%;
  height: 320px;
  border: solid 1px $black;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 190px;
  background-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
}

.image-text {
  display: none;
}

.row {
  flex-direction: row;
}

.description-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.description-text {
  display: none;
}

textarea {
  padding-top: 15px;
  margin-top: 5px;
  width: 100%;
  height: 230px;
}

input[name="sellbuy"] {
  margin-top: 10px;
  accent-color: $black;
}

.register-section {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 40px;
  font-size: 1.3rem;
  font-style: normal;
  border: none;
}

.register-btn {
  background: $primary-color;
  color: $background-color;
  margin-right: 10px;
}

.cancel-btn {
  background: $background-color;
  color: $primary-color;
  border: 1px solid $primary-color;
  margin-left: 10px;
}

.file-image {
  display: none;
}

.image-data {
  width: 105px;
  height: 105px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 1%;
  left: 1%;
  font-size: 1rem;
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}
#register-btn,
#cancel-btn {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
}
#register-btn {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  margin-right: 8px;
}
#cancel-btn {
  background-color: $background-color;
  border: 1px solid $primary-color;
  margin-left: 8px;
}

.warning-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning-message {
  color: $secondary-color;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .layout-iwant {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .layout-radio-button {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 30px;
  }

  .layout-input {
    display: inline-block;
    width: 100%;
  }

  .row > * {
    width: 50%;
    display: inline-block;
  }

  .row-button {
    display: flex;
    justify-content: space-around;
  }

  .text-button-radio {
    font-size: 1.2rem;
  }

  .text-type {
    font-size: 1.2rem;
    height: 30px;
  }

  .text-type-two {
    padding-top: 10px;
    font-size: 1.2rem;
    height: 30px;
  }

  .form-field {
    font-size: 1.2rem;
  }

  .form-field,
  textarea {
    width: 100%;
    height: 55px;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid $primary-color;
    background: $background-color;
    background-color: $background-color;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }

  .form-field-arrow {
    background: url(https://img.icons8.com/android/24/null/sort-down.png)
      no-repeat scroll 97% 16px;
  }

  .form-field-euro {
    background: url(https://img.icons8.com/metro/26/null/euro-pound-exchange.png)
      no-repeat scroll 97% 16px;
  }

  .box-image {
    position: relative;
    width: 100%;
    height: 372px;
    margin-top: 40px;
    background-color: #e7e7e7;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    width: 47%;
    height: 50px;
    border-radius: 40px;
    font-size: 1.5rem;
    font-style: normal;
    border: none;
  }

  .image-button {
    height: auto;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
  }

  .button-cancel {
    background: $background-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  .button-register {
    background: $primary-color;
    color: $background-color;
  }

  .image-data {
    position: relative;
    width: 100%;
    height: 369px;
    border-radius: 5px;
  }

  .count {
    width: 50px;
    height: 50px;
    top: 9%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

  .warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .warning-message {
    padding-top: 10px;
    color: $secondary-color;
    font-size: 1.5rem;
  }
}
