<div class="container">
  <section class="title-section">
    <h2>Upload New Item</h2>
  </section>

  <section class="radio-btn-section">
    <span class="radio-btn-text">I want</span>
    <div class="radio-btn-layout">
      <label
        class="radio-btn"
        *ngFor="let trade of tradeOptionRadioButton"
        for="myRadioId"
      >
        <input
          type="radio"
          id="myRadioId"
          name="sellbuy"
          [(ngModel)]="products.dealType"
          [value]="trade"
        />
        {{ trade }}
      </label>
    </div>
  </section>

  <section class="row">
    <section class="input-section">
      <div class="input-layout">
        <span>Title</span>
        <input
          class="form-field"
          [(ngModel)]="products.title"
          name="title"
          type="text"
        />
      </div>
      <div class="input-layout">
        <span>Category</span>
        <select
          [(ngModel)]="products.category"
          class="form-field form-field-arrow"
          name="category"
        >
          <option hidden></option>
          <option *ngFor="let y of categoryType" [ngValue]="y">
            {{ y }}
          </option>
        </select>
      </div>
      <div class="input-layout">
        <span>Price</span>
        <input
          class="form-field form-field-euro"
          [(ngModel)]="products.price"
          name="price"
          type="number"
        />
      </div>
      <div class="input-layout">
        <span>District</span>
        <select
          [(ngModel)]="products.district"
          class="form-field form-field-arrow"
          name="district"
        >
          <option hidden></option>
          <option *ngFor="let z of districtType" [ngValue]="z">
            {{ z }}
          </option>
        </select>
      </div>
    </section>

    <section class="image-section">
      <label class="image-text">Image</label>
      <div class="image-box">
        <div *ngFor="let preview of previews">
          <img class="image-data" [src]="preview" />
        </div>
        <div class="count" *ngIf="counts">+{{ numberOfFiles - 1 }}</div>

        <label class="image-label" for="image">Add Image</label>
      </div>
      <input
        class="file-image"
        id="image"
        multiple
        (change)="onFileSelect($event)"
        type="file"
      />
    </section>
  </section>

  <section class="description-section">
    <label class="description-text">Description</label>
    <textarea [(ngModel)]="products.description" name="description"></textarea>
  </section>

  <section class="register-section">
    <button class="register-btn" (click)="saveProduct()">REGISTER</button>
    <button mat-dialog-close class="cancel-btn" (click)="cancelAlert()">
      CANCEL
    </button>
  </section>
  <div class="warning-container">
    <div *ngIf="isDataIncorrect" class="warning-message">
      {{ warningMsg }}
    </div>
  </div>
</div>
