$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$primary-color: #004643;
$secondary-color: #F9BC60;
$tertiary-color: #E16162;
$background-color: #FEF6ED;

.background{
  background-color: $background-color;
}
.container {
  width: 400px;
  padding: 0;
  padding-top: 16px;
  margin-bottom: 40px;
}
.slider {
  display: flex;
  height: 400px;
  align-items: center;
}
.product-description-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.product-description-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 16px;
}
.product-description-category {
  font-size: 1rem;
  color: gray;
  margin-top: -4px;
  margin-bottom: 8px;
}
.price-location-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-description-price{
  font-size: 1.5rem;
  font-weight: bold;
}
.product-description-location{
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.location-item{
  padding: 4px;
}
.product-description-date{
  font-size: 1rem;
  margin-bottom: 16px;
}
.product-description-desc{
  font-size: 1rem;
  margin-bottom: 32px;
}
.product-description-descTitle{
  font-size: 1rem;
  font-weight: bold;
}
.product-description-line{
  color: #004643;
}
.slider{
  position: relative;
}
.leftArrow{
  fill: white;
  position: absolute;
  top: 50%;
	left: 3%;
  height: 2rem;
}
.rightArrow{
  position: absolute;
  top: 50%;
	right: 3%;
  height: 2rem;
}
span {
  display: block;
  height: 100%;
}
#contact-hint {
  font-size: 0.8rem;
  color: #F9BC60;
}
#contact-icon {
  width: 32px;
}

// for mobile
@media (max-width: 768px) {
  .product-description-image {
    display: block;
    width: 100%;
    border-radius: 0;
  }
  .container{
    width: 100%;
    padding-top: 0;
  }
  .product-description-content {
    padding: 16px;
  }
  .product-description-title {
    margin: 0;
  }
  .product-description-desc {
    margin-bottom: 16px;
  }
}
